__pycache__/
*.pyc
*.pyo
*.pyd

.pytest_cache/
.pytest_cache

.git
.gitignore

.env
.env.*

venv/
.venv/

*.db
*.sqlite
*.sqlite3

tests/

docs/

project_export.txt
main.txt
routes.txt
services.txt
agents.txt

Dockerfile
